*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}


.square{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}


.o::after{
    content: "\1F6E1";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.x::after{
    content: "\2694";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}